// $blue : #153a99;
$blue : #162c63;
// $blue : #113286;
// $blue : #104eea;

// $red:hsl(25, 83%, 53%) ;
// $red:hsl(25, 69%, 35%) ;
// $red: #042351;
$red: #134999;


$box-shadow : 0 0 29px 0 rgba(68,88,144,0.12);

:root{
    // --text-destination:#08377d;
    // --text-destination:#06295f;
    --text-destination:#132656;
    --footer-color: hsl(228, 57%, 28%);
}

// --bs-primary: #0d6efd;